.table{
    background-color: rgb(69, 147, 199);
    text-align: center;
    width: 80vw;
    height: 60vh;
}
.Ingredients ,.Proteins,.Calories{
    background-color: lemonchiffon;
}
div{
    background-color: rgb(164, 250, 252);
    width: 88vw;
}
.p1{
    background-color: purple;
    
}
.p2{
    background-color: palevioletred;
}